body, html {
    font-family: sans-serif;
    font-size:13px;
    color: #ddeef8;
    background-color: rgb(21, 32, 43);
}

h1 {
    font-size:2rem;
}

h2 {
    font-size:1.4rem;
    margin: 0.5rem 0;
}

a {
    color: lightblue;
}

/* Buttons */
button {
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#getNeeded {
    background-color: #003853;
}

#getAll {
    background-color: #01547e;
}

#typeSelect {
    margin-bottom: 1em;
}

#options {
    background-color: #0478a1;
}

/* month, hemisphere text */
span {
    color: white;
    font-weight: bold;
}

/* tables */
table {
    width: 100%;
    border: 2px solid white;
    border-collapse: collapse;
}

th,td {
    padding: 5px;
    border: 1px solid gray;
    text-align: center;

}

th {
    font-size:1.2rem;
    background-color: darkslategray;
}

td {
    width: 6.25%;
    background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 50px;
    background-color: black;
}

td:hover {
    background-color: darkslategray;
}

/* Style the collapsible content. Note: hidden by default */
.disappearing {
    background-color: dark;
}
  
.content {
    text-align: center;
    padding: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 1px solid darkgray;
}

footer {
    margin-top: 1rem;
    text-align: center;
}